<!-- TODO: Move to other location? -->
<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Courses</h1>

  <h2>Add Course</h2>
  <div id="addCourseSuccess">{{{addNewCourseResult}}}</div>
  <div id="addCourseError">{{{errorInAddingCourse}}}</div>
  <form method="post" action="/Admin/Courses/">
  <table>
    <thead>
      <th>Course Name</th>
      <th>Course Description</th>
      <th>Instructor</th>
      <th>Category</th>
      <th>Language(s)</th>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" id="courseName" name="courseName" /></td>
        <td><textarea id="courseDescription" name="courseDescription" rows="4" cols="50"></textarea></td>
        <td>
            <select id="selectForClassInstructor" name="selectForClassInstructor">
              {{#each instructorsOrAdmins}}
                <option value="{{userId}}">{{lastName}}, {{firstName}} ({{userName}})</option>
              {{/each}}
            </select>
        </td>
        <td>
          <select id="categorySelectorForNewCourse" name="categorySelectorForNewCourse">
              <option value="0" selected>None</option>
            {{#each categories}}
              <option value="{{categoryId}}">{{categoryName}}</option>
            {{/each}}
          </select>
        </td>
        <td>
          <select id="languageSelectorForNewCourse" name="languageSelectorForNewCourse" multiple="multiple">
              <option value="0" selected>None</option>
            {{#each languages}}
              <option value="{{languageId}}">{{languageName}}</option>
            {{/each}}
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="hidden" id="addNewCourseForm" name="addNewCourseForm" value="yes" />
  <button id="addButton" name="addButton" style="margin-top: 20px">Add Course</button>
</form>

  <br /><br />


  <h2>Edit/Delete Courses</h2>
  <table>
    <thead>
      <th>Course Name</th>
      <th width="200px">Abbreviated Course Description</th>
      <th>Is Live?</th>
      <th>Instructor</th>
      <th>Category</th>
      <th>Languages</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>{{courseName}}</td>
          <td>{{{description}}}</td>
          <td>{{isLive}}</td>
          <td>{{lastName}}, {{firstName}} ({{userName}})</td>
          <td>{{categoryName}}</td>
          <td>{{TaughtIn}}</td>
          <td><a href="/Admin/Courses/Edit/{{courseId}}">Edit</a></td>
          <td><a href="/Admin/Courses/Delete/{{courseId}}">Delete</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>



</div>

<script>
  requirejs(["/js/config.js"], function (config){
    requirejs(["/js/adminCourses.js"]);
  });
</script>
