<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <form method="post" action="/Admin/Courses/Edit/{{courseId}}">
  <input type="hidden" id="courseId" name="courseId" value="{{courseId}}" />
  <h1>{{title}}</h1>
  {{{EditResult}}}

  <a href="/Admin/Courses/">Back to Courses</a><br /><br />
  <div id="editFormArea" style="{{{ mainContentStyle }}}">

    <b>Course Name</b><br />
    <input type="input" id="courseName" name="courseName" value="{{courseName}}"></input>
    <br /><br />

    <b>Instructor</b><br />
    <input type="hidden" id="selectedInstructorId" name="selectedInstructorId" value="{{userId}}" />
    <select id="selectInstructor" name="selectInstructor">
      {{#each instructorsOrAdmins}}
        <option value="{{userId}}">{{lastName}}, {{firstName}} ({{userName}})</option>
      {{/each}}
    </select>

    <br /><br />
    <b>Course Description</b><br />
    <textarea id="courseDescription" name="courseDescription" rows="20" cols="100">{{courseDescription}}</textarea>

    <br /><br />
    <b>Is Live?</b><br />
    <input type="checkbox" id="isLive" name="isLive" {{#if isLive}}checked {{/if}} />

    <br /><br />
    <b>Category</b><br />
    <input type="hidden" id="selectedItem" name="selectedItem" value="{{categoryFk}}" />
    <select id="selectCategory" name="selectCategory">
      <option value="0">None</option>
      {{#each categories}}
        <option value="{{categoryId}}">{{categoryName}}</option>
      {{/each}}
    </select>

    <br /><br />
    <b>Language(s)</b><br />
    <input type="hidden" id="languageSelectedItem" name="languageSelectedItem" value="{{TaughtInId}}" />
    <select id="selectLanguage" name="selectLanguage" multiple="multiple">
      {{#each languages}}
        <option value="{{languageId}}">{{languageName}}</option>
      {{/each}}
    </select>

    <br /><br />
    <button id="submit" name="submit">Submit Changes</button>
  </div>
</div>

<script>
  requirejs(["/js/config.js"], function (config){
    requirejs(["/js/adminCourseEdit.js"]);
  });
</script>
