<!-- TODO: Move to other location? -->
<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Add Student to Course</h1>

  {{addUserToClassResult}}
  <form method="post" action="/Admin/CourseEnrollment/">
    <input type="hidden" id="addUserToCourse" name="addUserToCourse" value="yes" />
    <label for="course">Select Course:</label>
    <select name="courseToAddSelectElement" id="courseToAddSelectElement">
      {{#each courses}}
        <option value="{{courseId}}">{{courseName}}</option>
      {{/each}}
    </select>

    <label for="AddingUserNameToCourse" style="margin-left: 10px;">User: </label>
    <span id="addUserToCourseSelectElement"></span>
    <button id="addUserToCourseButton" style="margin-left: 5px;">Submit</button>
  </form>

  <br /><br /><br />


    <h4>Drop Users from Selected Course</h4>
    <label for="course">Select Course:</label>
    <select name="courseToDropUserFrom" id="courseToDropUserFrom">
      {{#each courses}}
        <option value="{{courseId}}">{{courseName}}</option>
      {{/each}}
    </select>

    <table style="margin-top: 10px;">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>User Type</th>
        <th></th>
      </thead>
      <tbody id="userListingTbody"></tbody>
    </table>

</div>

<script> requirejs(["/js/config.js"], function (config){
    requirejs(["/js/courseEnrollment.js"]);
    }); </script>
