<!-- bad place for this -->
<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Users</h1>
  <h2>Add User</h2>
  <form method="post" action="/Admin/Users/">
    <input type="hidden" id="addUserForm" name="addUserForm" value="yes" />
  {{{ addUserFeedback }}}
  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Confirm Password</th>
      <th>User Type</th>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" id="addFirstName" name="addFirstName"  /></td>
        <td><input type="text" id="addLastName" name="addLastName" /></td>
        <td><input type="text" id="addUserName" name="addUserName" /></td>
        <td><input type="email" id="addEmail" name="addEmail" /></td>
        <td><input type="password" id="addPassword1" name="addPassword1" /></td>
        <td><input type="password" id="addPassword2" name="addPassword2" /></td>
        <td>
          <select name="addUserType" id="addUserType">
            <option value="Student">Student</option>
            <option value="Instructor">Instructor</option>
            <option value="Admin">Admin</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <button id="addUserButton" style="margin-top: 20px">Add User</button>
  </form>

  <br /><br />

  <form method="post" action="/Admin/Users/">
    <input type="hidden" id="editDeleteUserForm" name="editDeleteUserForm" value="yes" />
  <h2>Edit/Delete Users</h2>
  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Change password</th>
      <th>User Type</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      {{#each userListing}}
        <tr>
          <td><input type="text" name="editFirstName{{userId}}" id="editFirstName{{userId}}" value={{firstName}} /></td>
          <td><input type="text" name="editLastName{{userId}}" id="editLastName{{userId}}" value={{lastName}} /></td>
          <td><input type="text" name="editUserName{{userId}}" id="editUserName{{userId}}" value={{userName}} /></td>
          <td><input type="text" name="editEmail{{userId}}" id="editEmail{{userId}}" value={{email}} /></td>
          <td><input type="text" name="editPassword{{userId}}" id="editPassword{{userId}}" value={{firstName}} /></td>
          <td>
            <select name="editUserType" id="editUserType">
              <option value="Student"{{#if STUDENT}} selected {{/if}}>Student</option>
              <option value="Instructor" {{#if INSTRUCTOR}} selected {{/if}}>Instructor</option>
              <option value="Admin" {{#if ADMIN}} selected {{/if}}>Admin</option>
            </select>
          </td>
          <td><button id="editButton{{userId}}">Edit</button></td>
          <td><button id="deleteButton{{userId}}">Delete</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

  <br /> <br />

  <h1>Add User to Course</h1>

    <form>
      <label for="course">Select Course:</label>
      <select name="courseToAdd" id="courseToAdd">
        {{#each courses}}
          <option value="{{courseId}}">{{courseName}}</option>
        {{/each}}
      </select>
      <br />
      <label for="AddingUserNameToCourse">Student username:</label>
      <input type="text" id="AddingUserNameToCourse"></input><br />
      <button id="addUser">Submit</button>

  </form>

  <br /><br /><br />


    <h4>Drop Users from Selected Course</h4>
    <label for="course">Select Course:</label>
    <select name="courseToDropUserFrom" id="courseToDropUserFrom">
      {{#each courses}}
        <option value="{{courseId}}">{{courseName}}</option>
      {{/each}}
    </select>
  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>User Type</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      <tr>
        <td>Yoda</td>
        <td>Yoda</td>
        <td>Yoda1</td>
        <td>Yoda@yoda.com</td>
        <td>Instructor</td>
        <td><button id="drop1">Drop from class</button></td>
      </tr>
      <tr>
        <td>Darth</td>
        <td>Vader</td>
        <td>Vader2</td>
        <td>vader@vader.com</td>
        <td>Student</td>
        <td><button id="drop2">Drop from class</button></td>
      </tr>
    </tbody>
  </table>
</div>
