<!-- TODO: Move to other location? -->
<style type="text/css">
  table, th, td { border: 1px solid #000000; padding: 10px; }
</style>

<div style="background-color: #ff0000; height: 50px;">
  {{>adminNavigation}}
</div>

<div id="mainContent">
  <h1>Admin Courses</h1>

  <h2>Add Course</h2>
  {{addNewCourseResult}}
  <form method="post" action="/Admin/Courses/">
  <table>
    <thead>
      <th>Course Name</th>
      <th>Course Description</th>
      <th>Instructor</th>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" id="courseName" name="courseName" /></td>
        <td><textarea id="courseDescription" name="courseDescription" rows="4" cols="50"></textarea></td>
        <td>
            <select id="selectForClassInstructor" name="selectForClassInstructor">
              {{#each instructorsOrAdmins}}
                <option value="{{userId}}">{{lastName}}, {{firstName}} ({{userName}})</option>
              {{/each}}
            </select>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="hidden" id="addNewCourseForm" name="addNewCourseForm" value="yes" />
  <button id="addButton" style="margin-top: 20px">Add Course</button>
</form>

  <br /><br />


  <h2>Edit/Delete Courses</h2>
  <table>
    <thead>
      <th>Course Name</th>
      <th width="200px">Abbreviated Course Description</th>
      <th width="200px">Course Start Date</th>
      <th>Is Live?</th>
      <th>Instructor</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>{{courseName}}</td>
          <td>{{{description}}}</td>
          <td>{{dateWentLive}}</td>
          <td>{{isLive}}</td>
          <td>{{lastName}}, {{firstName}} ({{userName}})</td>
          <td><button id="editButton{{courseId}}">Edit</button></td>
          <td><button id="deleteButton{{courseId}}">Delete</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>


  <br /><br />

  <div style="padding: 20px; background-color: #ffffff; width: 400px; height: 450px; float: left; margin-right: 50px;">
  <h1>Edit Languages Associated with Courses</h1>
      <label for="selectCourseCategoryToEdit2">Select Course:</label>
      <select id = "selectCourseCategoryToEdit2" name="selectCourseCategoryToEdit2">
        {{#each courses}}
        <option value="{{courseId}}">{{courseName}}</option>
        {{/each}}
      </select>

    <br />
    <h4>Current Languages</h4>
    <table>
        <thead>
            <th>Language</th>
            <th>Country</th>
            <th colspan="2"></th>
        </thead>
        <tbody id= 'adminLangsCoursesTableBody'>
        </tbody>
    </table>

    <h4>Add New Language to Selected Course</h4>
    <form>
      <label for="selectLanguage">Select language:</label>
      <select name="selectLanguage" id="selectLanguage">
        {{#each languages}}
        <option value="{{languageId}}">{{languageName}}</option>
        {{/each}}
      </select>
      <input id = "addLangToCourseButton" type="submit">
    </form>
  </div>



    <div style="padding: 20px; background-color: #ffffff; width: 400px; height: 360px; float: left; margin-right: 50px;">
      <h1>Edit Category Associated with a Course</h1>

          <label for="selectCourseCategoryToEditSpan">Select Course:</label>
          <select id="selectCourseCategoryToEdit" name="selectCourseCategoryToEdit">
            {{#each courses}}
            <option value="{{courseId}}">{{courseName}}</option>
            {{/each}}
          </select>
    <h4>Current Category </h4>
    <table>
        <thead>
        <th>Category</th>
        <th></th>
        </thead>
        <tbody>
        <tr>
            <td>
              <span id="categoryThatIsAssociatedWithClass"></span>
              </td>
            <td><button id="drop1">Drop from Course</button></td>
        </tr>
        </tbody>
    </table>
    <h4>Change Course Category </h4>
    <form>
      <label for="category">Select Category:</label>
      <select name="category" id="course">
        {{#each categories}}
        <option value="{{categoryId}}">{{categoryName}}</option>
        {{/each}}
      </select>
      <input type="submit">
    </form>
  </div>
  <div style="clear: both;"></div>
</div>
<script> requirejs(["/js/config.js"], function (config){
    requirejs(["/js/adminCourses.js"]);
    }); </script>
