<div id="mainContent">
<h3>{{{courseTitle}}} - Module {{{moduleNo}}}</h3>

<h3> Go to module: 
  {{#each moduleLinks}}
   <a href={{{this}}}>{{{@key}}}</a>
  {{/each}}
</h3>

{{{htmlContent}}}

</div>
