<div id="mainContent">
  <div style="width: 900px">

    <div style="float: left; width: 375px; margin: 0px 25px 0px 0px; padding: 0px; ">
      <h1 style="margin: 0px; padding: 0px;">Course Overview: {{{title}}}</h1>
      {{{htmlContent}}}
    </div>
    <div style="float: left; width: 500px;">
      <!--
        image credit
        public domain image taken from https://www.publicdomainpictures.net/en/view-image.php?image=151506&picture=young-woman-my-computer
        on March 8, 2021
      -->
      <img src="/images/jeune-femme-poste-de-travail.jpg" width="500" height="333" />
      <div style="margin: 25px 0px 0px 0px; text-align: right;">
        <div id="signedUpConfirmation">{{{addingClass}}}</div>
        {{#if notLoggedIn}}
          <a href="/Login/">Login</a> first so you can enroll.<br /><a href="/CreateAccount/">Create an account</a> if you don't already have one.
        {{/if}}

        {{#if isStudent}}
          {{#if isEnrolled}}
              <a href="{{{moduleLink}}}">Go to first module</a>
            {{else}}
              <form method="post">
                <input type="hidden" id="signUpForClass" name="signUpForClass" value="yes" />
                <button id="signUpForClassButton">Sign up for class</button>
              </form>
            {{/if}}
        {{/if}}

        {{#if isInstructor}}
          {{#if isEnrolled}}
            <a href="{{{moduleLink}}}">Go to first module</a>
          {{else}}
            <!-- nothing is shown because instructors can't sign up for classes -->
          {{/if}}
        {{/if}}

        {{#if isAdmin}}
          <a href="{{{moduleLink}}}">Go to first module</a>
        {{/if}}

      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
